<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036812297966-53dg40sjqdp0am6cqmvr55fudn25ep51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036812297966-53dg40sjqdp0am6cqmvr55fudn25ep51</string>
	<key>API_KEY</key>
	<string>AIzaSyAF1yR_oFQnxbRSQ-p1VQ_xSMx2nl-T0FU</string>
	<key>GCM_SENDER_ID</key>
	<string>1036812297966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eStock</string>
	<key>PROJECT_ID</key>
	<string>estock-b3daf</string>
	<key>STORAGE_BUCKET</key>
	<string>estock-b3daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036812297966:ios:5d9abb59313dd22f70b5ff</string>
</dict>
</plist>