<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014251331583-9ssbcdtv1t2khrv9jj474ve8gi8v3lio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014251331583-9ssbcdtv1t2khrv9jj474ve8gi8v3lio</string>
	<key>API_KEY</key>
	<string>AIzaSyC4o2oxTVAZYXgnkBf1DedLxiMyxvZi1rU</string>
	<key>GCM_SENDER_ID</key>
	<string>1014251331583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eStock</string>
	<key>PROJECT_ID</key>
	<string>estock-353714</string>
	<key>STORAGE_BUCKET</key>
	<string>estock-353714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014251331583:ios:e3a6094a8854dd489711ca</string>
</dict>
</plist>